<section id="education">
	<div class="container">
		
		<div class="row">
			<div class="col-md-3 section-icon">				
				<i class="fa fa-graduation-cap fa-5x"></i>	
			</div>
			<div class="col-md-6">
				<h1>Education</h1>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">				
				<h3>Business Informatics and e-business</h3>
				<p class="info">Belgrade Business School (Bachelor of Applied Science) <span>•</span> <em class="date">2010 - 2013</em></p>

				<p>
				During the studies, which lasted three years, I have acquired a basic knowledge of programming(OOP), databases, computer networks, information systems design, internet marketing, e-business, web development and design. The school is a part of Microsoft DreamSpark, which is a Microsoft program to provide students with software design and development tools at no charge, so we used Visual Studio, MS SQL Server, and other development tools for free. As a programming language we used C#, and ASP.NET framework for web development. One of the most important subjects in the studies were a Databases, where each team worked on the project as a requirement for passing the exam. My team and I worked on "Designing a database for preschool" project. As a requirement for thesis,  I've done an intership in Statistical Office of the Republic of Serbia. Diploma thesis "The Concept of the Blog and the Blogosphere in Serbia" I passed with the highest grade.				
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h3>Mechanical technician for computer engineering</h3>
				<p class="info">Aviation Academy (IV degree) <span>•</span> <em class="date">2006 - 2010</em></p>

				<p>
				Aviation Academy is the unique school in the region with eighty - eight- year – long tradition of training aviation personnel both in the field of civil and military aviation, certified by the European Aviation Safety Agency (EASA) and The Civil Aviation Directorate of the Republic of Serbia. Learning objectives for a period of four years for Mechanical technician for computer engineering is to train students for correct, accurate, creative and independent work in the form of various calculations, modeling parts, creating engineering drawings on computers, as well as the acquisition of other skills and knowledge in the broad field of mechanical engineering and metalworking.
				</p>
			</div>
		</div>
	</div>
</section>