<section id="profile">
    <div class="container">

			<div class="row">			
				<div class="col-md-3 section-icon">
				</div>
				<div class="col-md-6">
					<h1>Profile</h1>
				</div>			
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="timeline">
                    <div class="timeline-head">
                      	<div class="profile-pic">
		            		<img src="images/miroslav_maksimovic.jpg" alt="Miroslav Maksimović Profile Picture">
		            	</div>
                    </div>
                    <div class="timeline-body">
                      <div class="profile-item timeline-item">
                        <div class="icon-item left">
                          <div class="circular-icon ">
                            <i class="fa fa-male"></i>
                          </div>
                        </div>

                        <div class="profile-content timeline-content right">
                          <label>Full name</label>
                          <div class="value">Miroslav Maksimovi&#263;</div>
                        </div>
                      </div>                      

                      <div class="profile-item timeline-item">
                        <div class="icon-item right">
                          <div class="circular-icon">
                            <i class="fa fa-map-marker"></i>
                          </div>

                        </div>
                        <div class="profile-content timeline-content left">
                          <label>Location</label>
                          <div class="value">Belgrade, Serbia</div>
                        </div>
                      </div> 

                      <div class="profile-item timeline-item">
                        <div class="icon-item left">
                          <div class="circular-icon ">
                            <i class="fa fa-envelope"></i>
                          </div>
                        </div>

                        <div class="profile-content timeline-content right">
                          <label>Email</label>
                          <div class="value">maksimovic991@gmail.com</div>
                        </div>
                      </div>

                      <div class="profile-item timeline-item">
                        <div class="icon-item right">
                          <div class="circular-icon ">
                            <i class="fa fa-phone"></i>
                          </div>
                        </div>

                        <div class="profile-content timeline-content left">
                          <label>Phone</label>
                          <div class="value">(381) 61 612 8262</div>
                        </div>
                      </div>

                      <div class="profile-item timeline-item">
                        <div class="icon-item left">
                          <div class="circular-icon left">
                            <i class="fa fa-check"></i>
                          </div>

                        </div>
                        <div class="profile-content timeline-content right">
                          <label>Availability</label>
                          <div class="value">Available for full-time</div>
                        </div>
                      </div>                                          

                    </div>
                  </div><!-- TIMELINE -->
				</div>
				<div class="col-md-6">
				
				<div class="download-cv">
					<a href="assets/Miroslav_Maksimovic_CV.pdf" target="_blank" class="btn btn-lg btn-info"><i class="fa fa-cloud-download"></i> Download Resume [PDF]</a>
				</div>

				<div class="profile-summary">
	                <p>
		            Enthusiastic and creative Web Developer with about 2 years of experience. Specialized in both back-end and front-end development. Possessing considerable knowledge of the development of websites and web applications using PHP programming language and MySQL. <br>
		            Experience building WordPress driven websites.<br>
                As a development environment I use LAMP and Vagrant which provides easy to configure, reproducible, and portable work environments.<br>
		            A good knowledge of Laravel PHP Framework.<br>
		            Quick learner who enjoys learning new skills and rapidly adapts to new technologies.<br>
		            Currently looking for a Web Developer position with an ambitious and exciting company. If you are such a company, you can <a href="#contact">contact me</a>.
		            </p>
	            </div>

	            

				</div>
			</div>    

    	
    </div>
</section> <!-- PROFILE -->