<section id="skills">
	<div class="container">
		<div class="row">
			<div class="col-md-3 section-icon">
				<i class="fa fa-gears fa-5x"></i>  
			</div>
			<div class="col-md-6">
				<h1>Skills</h1>
			</div>
		</div>		

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<h3 class="skill-group">Back-end</h3>

				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="100"><span>PHP</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="90"><span>Laravel</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="90"><span>MySQL</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="50"><span>MongoDB</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="75"><span>Apache</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="50"><span>Codeception</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" data-transitiongoal="90"><span>WordPress</span></div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<h3 class="skill-group">Front-end</h3>

				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="100"><span>HTML5</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="100"><span>CSS3</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="60"><span>SASS/LESS</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="90"><span>JavaScript</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="90"><span>jQuery</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="100"><span>Twitter Bootstrap</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="75"><span>Gulp</span></div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<h3 class="skill-group">Foundational</h3>

				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="90"><span>Linux</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="75"><span>Terminal</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="90"><span>MVC</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="90"><span>OOP</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="90"><span>AJAX</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="90"><span>Security</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="75"><span>Regular Expressions</span></div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<h3 class="skill-group">Tools</h3>

				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="90"><span>Git</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="90"><span>Vagrant</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="90"><span>Composer</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="50"><span>Bower</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="90"><span>Jekyll</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="75"><span>Photoshop</span></div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="75"><span>Google Analytics</span></div>
				</div>
			</div>
		</div>
	</div>
</section>